<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>820457215278-gmgjhk2dcrmvl6jatetrfgr3ih3kkq9i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.820457215278-gmgjhk2dcrmvl6jatetrfgr3ih3kkq9i</string>
	<key>API_KEY</key>
	<string>AIzaSyBmIGAEXX7FncviiE5g4z32XXu7lW5mk-g</string>
	<key>GCM_SENDER_ID</key>
	<string>820457215278</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jigunho.Freety</string>
	<key>PROJECT_ID</key>
	<string>freety-5d0de</string>
	<key>STORAGE_BUCKET</key>
	<string>freety-5d0de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:820457215278:ios:657dd94ce66d3cf6</string>
	<key>DATABASE_URL</key>
	<string>https://freety-5d0de.firebaseio.com</string>
</dict>
</plist>